* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

::selection {
  background: #222;
  color: white;
}

a {
  text-decoration: none;
  font-family: "futura-pt",sans-serif;
}

body {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
}

hr {
  margin: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

/* Loading Screen
====================================================*/

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

/* Typography 
====================================================*/

p, li {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #4c4e52;
  line-height: 1.5;
}

h1 {
  font-family: "futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
    font-size: 2.5em;
    margin: 35px 0;
    font-weight: 700;
}


/* Header 
====================================================*/

.header {
  height: 50px;
  padding: 10px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  overflow: hidden;
}

.header .logo h2 {
  color: white;
  font-weight: 700;
  font-family: "futura-pt",sans-serif;
  font-size: 1.5em;
}

.nav-bar a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  padding: 6px;
  transition: all 300ms ease-in-out;
  position: relative;
  font-size: 16px;
}

.nav-bar a:before {
  content: "";
  position: absolute;
  bottom: 6px;
  height: 2px;
  width: 85%;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 300ms ease-in-out;
}

.nav-bar a:hover:before{
  transform: scaleX(1);

}

.nav-bar a.active:before {
  transform: scaleX(1);
}

.page-header {
  text-align: center;
  font-size: 2.5em;
  margin: 35px 0;
  font-weight: 700;
}

/* Display Fixtures List
==================================================== */

.score .scorebox-container .team-score, .score .score-links .team-score {
  padding-right: 15px;
}

.scores-wrapper {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  width: 100%;
}

.score-box-container{
  width: 100%;
  position: relative;
  display: block;
  border-color: #f6f6f6;
  color: #4c4e52;
  padding: 0 15px;
  border-width: 1px;
  border-style: solid;
}


.score-box-container.finished {
  background: #f6f6f6;
}

.score-box {
  width: 33.33%;
  /*width: 80%;*/
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

/*@media only screen and (max-width: 600px){
  .score-box {
    width: 100%;
  }
}*/

.team-names, .team-scores, .game-info {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.score {
  width: 100%;
  margin: 0 auto 20px auto;
  position: relative;
  font-size: 1.2em;
}

.score-content {
    display: table;
    width: 100%;
    white-space: nowrap;
    height: 72px;
    margin: 21px 0;
}

.team-names{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}

.score .scorebox-container .score-content .team-name, .score .scorebox-container .score-content .team-score {
  position: relative;
  height: 50%;
}

.team-name {
  position: relative;
  height: 50%;
}

.team-name span {
  display: block;
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.team-name span:before, .team-score span:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.team-name img {
  padding: 0 8px 4px 0;
  vertical-align: middle;
  height: auto;
}

.team-scores {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.team-score {
  text-align: right;
  padding-right: 15px;
  height: 50%;
}

.team-score.winner {
  font-weight: bold;
}

.game-info {
  width: 20%;
  border-left-width: 1px;
  border-left-style: solid;
  padding-right: 3px;
  border-color: #e4e5e7;
  color: #9ea3ae;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  line-height: 1.8;
  padding-left: 15px;
}

.game-info .time {
  color: #2a2f32;
}

/* Divider 
======================================*/

.divider h3 {
  text-align: center;
  font-size: 2em;
}

/* Fixture Details 
=======================================*/

.top-banner {
  position: relative;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.team-image {
  height: auto;
  width: 160px;
}

.team-image.home img {
  width: 400px;
  left: -50px;
  position: absolute;
  top: -80px;
}

.team-image.away img {
  width: 400px;
  right: -50px;
  position: absolute;
  top: -80px;
}

.fixture-details-headline h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.8em;
  margin: 10px 0 0 0;
  line-height: 0.9em;
  z-index: 2;
  text-shadow: 2px 2px 10px white;
  position: relative;
}

.team-headline h1 {
  font-size: 3em;
  padding-right: 60px;
  font-weight: 700;
}

.probability-wrapper {
  max-width: 610px;
  margin: 20px auto;
}

.probability-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.probability-row:before {
  content: '';
  height: 1px;
  width: 500px;
  position: absolute;
  background: #222;
  top: 50%;
  z-index: -1;
}

.probability-row div {
  border: 1px solid black;
}

.probability-percentage {
  width: 200px;
  background: #222;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.probability-percentage h2 {
  margin: 10px 0;
}

.probability-goals {
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.probability-goals.winner {
  background: #dcc443;
}

.probability-goals.winner h3{
  font-weight: 700;
}

.probability-goals h3 {
  margin: 5px 0;
  font-weight: 400;
}

.full-results {
  max-width: 610px;
  margin: 0 auto;
}

.full-results table, .full-results th, .full-results td {
  border: 1px solid black;
  border-spacing: 0px;
}

.full-results td {
  padding: 5px;
}

.full-results th {
  background: #222;
  color: white;
}

.full-results table {
  margin: 0 auto;
}

/* Competitions Page
===========================================*/

.all-competitions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.league-inner {
  margin: 20px;
  padding: 20px;
  border: 1px solid #f6f6f6;
  min-height: 200px;
  background: #f6f6f6;
}

.league h2 {
  font-weight: 400;
  color: #222;
  text-align: center;
}

.team-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-thumbnails img {
  margin: 3px;
  width: 25px;
  height: 25px;
}

/* Home 
===========================================*/

.video-wrapper {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.video-wrapper.screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
  z-index: 3;
}

.home-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 5;
}

.home-inner h1 {
  font-size: 5.5em;
  color: white;
  padding-bottom: 2.4em;
}

.home-inner p {
  
}